

.example-container {
  height: 100vh;
}

.example-sidenav-content {
  main {
    padding: 1rem;
  }
}

.example-sidenav {
  padding: 20px;
}


.active {
  background-color: rgba(128, 128, 128, 0.23);
}
